body {
    color: #6f6f6f;
}

#navbar {
    height: 50px;
    background-color: #5D9732;
}

#navbar-title {
    padding: 7px 0 2px 15px;
    color: white;
}

.side-menu {
    margin-top: 21px;
    box-shadow: 2px 2px 5px #888888;
    padding: 15px;
    border: 1px solid #ccc;
}

h5 {
    padding-bottom: 5px;
}

#menu-items-travel-time, #menu-items-compare-periods {
    cursor: pointer;
}

.travel-time-description, .compare-periods-description {
    display: none;
}

.description {
    padding-top: 20px;
}

h4 {
    padding: 30px 0 5px;
    border-bottom: 1px solid;
}

.colorful-words {
    color: #F29100;
}

button {
    position: absolute;
    top: 10px;
    right: 20px;
    margin-top: 10px;
    background-color: #F29100;
    color: white;
}

#travel-time-response, #compare-periods-response {
    display: none;
    margin-top: 20px;
}

a {
    word-break: break-all;
}

ul, li {
    list-style-type: none;
}
